.tab-container {
    width: 75%;
    /* margin-left: 20%; */
    overflow-x: auto;
    width: 100%;
}

.tab-nav {
    display: flex;
    /* font-size: 13px; */
}

.tab-button.active {
    background-color: #74AFFF;
    color: #fff;
}

.tab-panel {
    display: none;
    padding: 10px;
}

.tab-panel.active {
    display: block;
}

.option1 {
    margin-bottom: 10px;
}

.option-content {
    /* margin-top: 5px; */
    margin: 5px 0  0 10px;
}

input[type="submit"] {
    /* margin-left: 20%; */
    padding: 10px 20px;
    background-color: #74AFFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    flex-direction: column;
    color: #666666;
}

.option1>.container>.row {
    display: flex;
    /* justify-content: center; */
    /* width: 100%; */
    font-size: 13px;
    font-weight: 400;
    box-shadow: 5px 5px 10px #E4E4E4;
    margin: 0 0 20px 0;
    border-radius: 10px;
    flex-direction: column;
    padding: 10px 20px;
}

.item {
    display: flex;
    margin: 10px 0;
    /* width: 50%; */
    color: #666666;
    align-items: center;
}

.option1>.container>.row>.item>input {
    width: 100px;
    height: 25px;
}

button.tab-button {
    border: none;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    margin: 0 30px 0 0;
    /* padding: 1% 5%; */
    color: #666666;
    background: #E4E4E4;
    width: 162px;
    height: 35px;
}

.details>.tab-container>.tab-content {
    display: block;
    background: #FFFFFF;
    /* width: 100%; */
    /* height: 100%; */
    padding: 3%;
    font-size: 13px;
    font-weight: 400;
    height: 550px;
}

h4 {
    color: #666666;
    font-weight: 400;
    margin: 0 0 30px 0;
    font-size: 13px;
}

label {
    color: #666666;
    margin: 0 5px;
}

input[type="time"] {
    height: 30px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    text-align: center;
    font-size: 13px;
    width: 100px;
    color: #666666;
}

.option1>label {
    display: flex;
    align-items: center;
    margin: 0 0 30px 0;
    font-size: 14px;
    font-weight: 400;
}

input[type="radio"] {
    margin: 0 10px 0 0;
    font-size: 15px;
}

input[type="number"] {
    color: #666666;
    border-radius: 7px;
    border: 1px solid #CCCCCC;
    padding: 5px 10px;
    font-size: 13px;
    width: 60px;
    height: 25px;
}

.container>h4 {
    margin: 20px 0;
}

select {
    width: 100px;
    height: 25px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin: 0 30px 0 0;
    color: #666666;
    padding: 5px;
}

.option2>.container>.row {
    display: flex;
    justify-content: space-between;
}

.option3>.container>.row {
    display: flex;
    box-shadow: 5px 5px 10px #E4E4E4;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 0 20px 0;
    justify-content: space-between;
}

.option2>.container>.row>.item>input {
    width: 60px;
    height: 25px;
}

.option3>.container>.row>.item>input[type="number"] {
    width: 60px;
    height: 25px;
}

.option3>.container>.row>.item>input[type="time"] {
    width: 107px;
    height: 25px;
}

.option4>.container>.row:nth-child(1)>.row-hd {
    background: #74AFFF;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 10px;
}

.option4>.container>.row {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px 10px #CCCCCC;
    margin: 0 0 20px 0;
}

.option4>.container>.row:nth-child(1) {
    padding: 0;
    margin: 0;
    box-shadow: none;
}

.row-m {
    display: flex;
    justify-content: space-between;
}

.row-p>p {
    line-height: 2;
}

.option4>.container>.row:nth-child(3) {
    padding: 15px 20px;
}

.option6>.container>.row>.item>input {
    margin: 0 10px;
}

.option6>.container>.row {
    margin: 10px 0;
}

.option6>.container>.row:nth-child(3)>.row-m:nth-child(2) {
    display: flex;
    justify-content: flex-start;
}

.option6>.container>.row:nth-child(3)>.row-m:nth-child(2)>.item {
    margin: 10px 20px 10px 0;
}

.option6>.container>.row:nth-child(3)>.row-m:nth-child(2)>.item>input[type="number"] {
    margin: 0 10px 0 10px;
}

.item>input[type="number"] {
    margin: 0 10px 0 0;
}

.option4>.container>.row>.row-m>.item {
    width: 260px;
}

.option7>.container>.table-container {
    margin: 0;
    padding: 0;
}

.btn>input {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    margin: 0 20px;
}

.btn {
    text-align: center;
}

input[type="button"] {
    background: #CCCCCC;
    border: none;
    color: #999999;
}

.option5>.container>.row {
    box-shadow: 5px 5px 10px #CCCCCC;
    padding: 20px;
    border-radius: 5px;
}