body{
    /* margin: 0 100px; */
    display: flex;
    flex-direction: column;
    background: #F9F9F9;
    /* margin: 0 59px; */
    align-items: center;
}

.title>h1 {
    color: #FFFFFF;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}

.title {
    display: flex;
    background: #74AFFF;
    padding: 1% 3%;
    align-items: center;
    height: 6%;
    width: 1520px;
    height: 60px;
    box-sizing: border-box;
}

.title>img {
    height: 30px;
    margin: 0 1% 0 0;
}
.main {
    display: flex;
    width: 1520px;
    box-sizing: border-box;
    /* height: 95%; */
}

.bd {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 85%;
    width: 1334px;
    height: 1000px;
    box-sizing: border-box;
}

.bd>h5 {
    margin: 10px 0 40px 20px;
    color: #999999;
    font-size: 12px;
    font-weight: 400;
}

.details {
    display: flex;
    /* height: 88%; */
    width: 1290px;
    height: 740px;
}

input[type="text"] {
    padding: 8px 20px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.table-nav {
    margin: 20px 0;
}
